@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans text-secondary bg-white;
}

section {
  @apply py-20 px-4;
}

a {
  @apply text-secondary no-underline;
}
