---
import BaseLayout from '../layouts/BaseLayout.astro';
import de from '../i18n/de.json';
const lang = 'de';
const t = de;
---
<BaseLayout lang={lang} t={t} title="Impressum">
  <section class="max-w-3xl mx-auto py-20 px-4 text-secondary space-y-4">
    <h1 class="text-3xl font-bold mb-4">Impressum</h1>
    <p>BASOLA ist ein eigenständiges Projekt von Enactus Karlsruhe&nbsp;e.V.</p>
    <p>
      Enactus Karlsruhe&nbsp;e.V.<br />
      Adenauerring&nbsp;7,<br />
      76131&nbsp;Karlsruhe
    </p>
    <p>
      Gesetzlich wird der Verein von allen Vorstandsmitgliedern gemeinsam vertreten.<br />
      Simon&nbsp;Langner,<br />
      Julia&nbsp;Hilt,<br />
      Adrian&nbsp;Braess,<br />
      Marike&nbsp;Kardorff
    </p>
    <p>Projektleitung: Lea&nbsp;Bachmann</p>
    <p>
      E-Mailadresse:
      <a href="mailto:teamvorstand@karlsruhe.enactus.team" class="underline text-primary">
        teamvorstand@karlsruhe.enactus.team
      </a>
    </p>
    <p>
      Registergericht&nbsp;Registernummer: Amtsgericht – Vereinsregister – Mannheim, VR&nbsp;701085
    </p>
    <p>Inhaltlich verantwortlich: Simon&nbsp;Langner</p>
    <p>
      Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links.
      Für den Inhalt der verlinkten Seiten sind ausschließlich die Betreiber verantwortlich.
    </p>
    <p>
      Copyright-Hinweis: Inhalt und Aufbau der Enactus Germany Webseite sind urheberrechtlich geschützt. Die Vervielfältigung
      von Informationen und Daten – insbesondere die Verwendung von Texten, Textteilen oder Bildmaterial – bedarf der
      vorherigen schriftlichen Zustimmung.
    </p>
    <p>
      Plattform der Europäischen Kommission zur Online-Streitbeilegung (OS) für Verbraucher:
      <a href="https://ec.europa.eu/consumers/odr/" class="underline text-primary">https://ec.europa.eu/consumers/odr/</a>
    </p>
    <p>
      Wir sind nicht bereit und nicht verpflichtet, an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
      teilzunehmen.
    </p>
  </section>
</BaseLayout>
