---
const { lang } = Astro.props;
---
<footer class="bg-secondary text-white text-center p-6 mt-16">
  <div class="space-x-4">
    <a href={lang === 'de' ? '/de/impressum' : '/imprint'} class="hover:underline">{lang === 'de' ? 'Impressum' : 'Imprint'}</a>
  </div>
  <p class="mt-4 text-sm">© 2025 BASOLA</p>
</footer>
