---
import BaseLayout from '../../layouts/BaseLayout.astro';
import de from '../../i18n/de.json';
---
<BaseLayout lang="de" t={de} title="Impressum">
  <section class="max-w-3xl mx-auto p-8 prose">
    <h1>Impressum</h1>
    <p>BASOLA e.V.<br/>Beispielstraße 1<br/>12345 Musterstadt<br/>Deutschland</p>
    <p>E-Mail: <a href="mailto:info@basola.org">info@basola.org</a></p>
  </section>
</BaseLayout>
